<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript">
  message = '<%=message%>';
  if(message)
window.alert('!!!!!!!!!! ERROR : '+message+' !!!!!!!!!!!!!');
</script>
<body>
  <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
  <h1>게시판</h1>
  <h5 align ="right">
    <a href='/'>뒤로</a>
    <a href='/community/create_article'>글 작성</a>
  </h5>
  <hr>

<div style="height : 400px">
  <table class="tg" width = "800" >
    <tr height='10px' >
      <th class="tg-0lax">번호</th>
      <th class="tg-0lax">제목</th>
      <th class="tg-0lax">작성자</th>
      <th class="tg-0lax">작성일</th>
    </tr>

    <% for(let post of posts) { %>
    <tr>
      <td class="tg-01ax" style='width:50px'>&nbsp; <%= post.articleNum%></td>
      <td class="tg-0lax"><a href="/community/article/<%=post.id%>"</a><%=post.title %></td>
      <td class="tg-0lax"><%= post.creator ? post.creator.nickname : ''%></td>
      <td class="tg-0lax"><%= moment(post.created).format('YYYY-MM-DD hh:mm:ss') %></td>
    </tr>
    <% } %>
</table>
</div>
<div>
<% if (pages > 0) { %>
    <ul class="pagination text-center">
        <% if (current == 1) { %>
            <li class="disabled"><a>First</a></li>
        <% } else { %>
            <li><a href="/community/1">First</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="/community/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (current == pages) { %>
            <li class="disabled"><a>Last</a></li>
        <% } else { %>
            <li><a href="/community/<%= pages %>">Last</a></li>
        <% } %>
    </ul>
<% } %>
</div>
</body>
</html>
